@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply sm:flex;
}

h1 {
  @apply mb-4 text-4xl font-bold;
}

h2 {
  @apply mb-2 text-2xl font-semibold;
}

.icon {
  width: 52px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
