@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}

h1 {
  @apply mb-4 text-4xl font-bold;
}

.icon {
  width: 52px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
