---
import { Font } from "astro:assets";
import { Toaster } from "~/components/ui/sonner";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashed</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <Font cssVariable="--font-sans" preload />
  </head>
  <body class="relative">
    <main class="flex min-h-screen flex-col items-center p-2 pb-16 isolate">
      <slot />
    </main>
    <Toaster client:load />
  </body>
</html>

<style>
  body {
    font-family: var(--font-sans);
  }
</style>
