name: PR check

on:
  pull_request:
    branches:
      - main

jobs:
  docker:
    name: Docker
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: zareix/gh-actions/.github/workflows/docker.yml@main
    with:
      tag: pr-${{ github.event.number }}
      push-image: false
      platforms: linux/amd64,linux/arm64

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Run lint
        run: bun run lint
